/*header section*/
.section1 {
    padding: 50px;
    background-color: black;
    background-image: url(../Delani/assets/backgrounds/h_img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#mouse-click{
    animation: bounce 2s infinite;
}

img#mouse-click{
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 30px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.text-section1 {
    padding-top: 14%;
    color: white;
    font-size: 12px;
}

.mouse-icon {
    padding-top: 8%;
}

.text-pad {
    padding-bottom: 10px;
    padding-top: 10px;
}

/*about section*/
.section2 {
    padding: 30px;
    background-color: white;
    color: black;
}

.text-section2 {
    font-size: 12px;
}

/*services*/
.section3 {
    padding: 85px;
    background-image: url(../Delani/assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
}

.text-section3 {
    color: white;
    font-size: 14px;
}

/*what we do*/
.section4 {
    padding: 50px;
}

.h3 {
    padding-top: 10px;
}

.table {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.caption {
    font-size: 12px;
}

#magic1,
#magic2,
#magic3 {
    display: none;
}

.toast {
    display: none;
}
/*portfolio section*/
.section5 {
    align-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 40px;
}


